sudo: required
dist: trusty
before_install:
- sudo bash -c 'echo "deb http://pike.esi.uclm.es/arco sid main" > /etc/apt/sources.list.d/pike.list'
- sudo apt-get update
- sudo apt-get -y install --allow-unauthenticated arco-archive-keyring
- sudo apt-get -y --allow-unauthenticated install esi-tfg
script:
- make
deploy:
  provider: releases
  api_key:
    secure: bz7pXWLTiVEDDiaTeStfoLzsgbjq9ku93bavAPqFNlNbW7wRTcTLWInVaLqMbn0oT9ye/bqqixDcO1hRQygV0tAqJt4A7LSGKl2pGW3rO8d+U7zq5lixm7az7UR0V5xjTX8EAAYTXdjidDAFJ4FILiEtV0uuagkX/qXflFw68xu1+JqXOZTQLg5ITRmCoBFZ6E0H2GFIzGWri5pE3v9fMh1IXBVkJdSFJ53DlU9LZdjT1xhYigMIGREY1aMdeFo6ZkefOVm29QMeY7m1jDwoZPxn6h79JEPp4kgAQMNqPVAhj5mQKfOORuB+9Hie2i1VXxGJVx4RurW8E0Sy9iPKSyoEXZmbEmcYk+2OnBgFoZzaMMhAy5DaDju5a0G6H7hRFaaiwYqHvwLsqsgwnHEKiG6wAmQGy+m9dgQImvusYPCNwc6RQ8C7PY6hMKtCNdpjzpXs8n0oy17Zumcin1u/5ES2W0FDT/HUCIDDURvjIMTmDosq7UaLEFqqDiFUEgGAzTOre49fCRoccHhSwJTPGzeIjxuLMXB74Gq+K77d+QGJesr9eEbi61saiRUBrtzX0p0W3Ro5wSriQKGXj9lhKd/0zM8c6QolHCnY1e+Q0PJ9YPXDgpS3Z0S4OTf2Ur918UTVnbWEYF+2Z9ofocUW4DGyxFvA1HMd1z6UEBr41TM=
  file: 
    - examples/anteproyecto/main.pdf
  name: v $(date +'%d.%m.%Y %R')
  skip_cleanup: true
  on:
    repo: soker90/nextinit-tfg
